@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Task Manager App</h1>
    
    <h3>Use this web app to help manage tasks. The app will help you sort your tasks based on importance and urgency.</h3>
    <img src="task.jpg" width="400"/>
    <br/>
    <br/>
    <button class="btn btn-info" asp-action="AddTask">Add Tasks</button>
    <button class="btn btn-info" asp-action="ViewTask">View Tasks</button>
    <br/>
    <br/>
</div>
