@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = null; // Assuming you don't want any layout for this page
}

<!DOCTYPE html>
<html>
<head>
    <title>Time Management Matrix</title>
    <link rel="stylesheet" type="text/css" href="~/css/matrix-style.css">
</head>
<body>
    <div class="matrix">
        <h1>Stephen Covey's Time Management Matrix</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Urgent</th>
                    <th>Not Urgent</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Important</th>
                    <td>
                        <ul>
                            <li>Crises</li>
                            <li>Pressing Problems</li>
                            <li>Projects with Deadlines</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Relationship Building</li>
                            <li>Planning</li>
                            <li>Recreation</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Not Important</th>
                    <td>
                        <ul>
                            <li>Interruptions</li>
                            <li>Some Phone Calls</li>
                            <li>Some Mail</li>
                            <li>Some Reports</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Busy Work</li>
                            <li>Some Phone Calls</li>
                            <li>Some Mail</li>
                            <li>Time Wasters</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
